@import "tailwindcss";

.ball-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.number {
  position: absolute;
  display: inline-flex;
  margin-top: -420px;
  align-items: center;
}

.ball-position {
  position:relative;
  margin-top: 50px;
}


