@import "tailwindcss";

.ball-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.number {
  position: absolute;
  display: inline-flex;
  margin-top: -420px;
  align-items: center;
}

.ball-position {
  position:relative;
  margin-top: 50px;
}

.scroll {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.scroll span {
  display: inline-flex;
  padding-left: 100%;
  animation: skrolli 15s linear infinite;
}

@keyframes skrolli {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}